html {
  margin:0;
  padding:0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  text-align: center;
}

#sound {
  position: absolute;
  top: 0;
  right: 0;
}

#container {
  background: black;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
.interactive img {
  width: 20px;
}

#sound {
  background-color: white;
}
#splash {
  background-color: black;
  color: white;
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -60%);
  width: 350px;
}

#splash ul {
  list-style-type: none;
  padding: 0;
}

#splash ul img {
  margin-bottom: -5px;
  width: 20px;
}

#splash button {
 background: none;
 border-radius: 0;
 box-shadow: none;
}

#splash table, td {
  width: 80%;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  font-size: 12px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

#splash td.value {
  text-align: right;
  font-weight: bold
}

#game {
  background-color: #272727;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
